body {
    background-image: url('A_high-quality_image_of_deep_space_with_vibrant_bl.png');
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    max-width: 700px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1.step-title {
    font-size: 32px;
    margin-bottom: 20px;
    color: #f8f8f8; /* Updated color for step titles */
    display: inline-block;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.text-boxes {
    margin-top: 20px;
}

textarea {
    width: 80%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
    resize: none;
}

button {
    padding: 15px 30px;
    background-color: #1C3D70;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

    button:disabled {
        background-color: grey;
    }

.interactive-link {
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    background-color: #004F4F;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 18px;
}

    .interactive-link:hover {
        background-color: #007F7F;
        transform: scale(1.05);
    }

    .interactive-link.disabled {
        background-color: grey;
        pointer-events: none;
    }

.uid-button {
    background-color: #005F5F;
    color: white;
    border: none;
    padding: 20px 40px;
    font-size: 24px;
    cursor: default;
    transition: background-color 0.3s ease;
    margin: 20px 0;
}

    .uid-button:hover {
        background-color: #007F7F;
    }

textarea.disabled {
    background-color: grey;
    pointer-events: none;
    opacity: 0.5;
}

.checkbox-label {
    display: inline-block;
    align-items: center;
    margin-top: 20px;
}

    .checkbox-label input {
        margin-right: 15px;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
.padded-label {
    padding: 10px; /* Adjust the padding value as needed */
}